<html>
 <head>
  <script>
   function toggleResult(event)
    {
        const parentNode = event.target.parentNode;
        let preTag = parentNode.getElementsByTagName("pre")[0];

        if (preTag.style.display == "none") {
            preTag.style.display = "block";
        } else {
            preTag.style.display = "none";
        }
    }
  </script>
 </head>
 <body>
  <div>
   <div class="cmake file" style="border: 1px solid rgb(100, 98, 99);padding:0; margin: 10px; width:140ch;">
    <p class="file-name" style="margin:0; color:white;background-color: rgb(100, 98, 99);">
     CMakeLists.txt
    </p>
    <pre style="margin:0;"><code>cmake_minimum_required(VERSION 3.5)

project(cpp_qa VERSION 1.0 LANGUAGES CXX)

add_executable(main main.cpp)</code></pre>
   </div>
   <div class="header file" style="border: 1px solid rgb(130, 27, 198);padding:0; margin: 10px; width:140ch;">
    <p class="file-name" style="margin:0; color:white;background-color: rgb(130, 27, 198);">
     function.h
    </p>
    <pre style="margin:0;"><code>#pragma once


void otherFunc(int);

template &lt;typename T&gt;
void func()
{
    T t = 1.5;
    otherFunc(t);
}</code></pre>
   </div>
   <div class="main file" style="border:1px solid rgb(144, 13, 13);padding:0; margin: 10px; width:140ch;">
    <p class="file-name" style="margin:0; color:white;background-color: rgb(144, 13, 13);">
     main.cpp
    </p>
    <pre style="margin:0;"><code>#include "function.h"
#include &lt;iostream&gt;


void otherFunc(int i)
{
    std::cout &lt;&lt; "int version: " &lt;&lt; i &lt;&lt; '\n';
}

void otherFunc(double d)
{
    std::cout &lt;&lt; "double version: " &lt;&lt; d &lt;&lt; '\n';
}

int main()
{
    func&lt;int&gt;();
    return 0;
}</code></pre>
   </div>
   <a class="online-compiler-link" href="https://godbolt.org/z/veKz51fe4">
    online-compiler-link
   </a>
   <div class="result-value">
    <div class="result-title" onclick="toggleResult(event)" style="color:white;background-color: rgb(42, 41, 41);width: 100ch;">
     Result:
    </div>
    <pre style="display: none">int version: 1
 
</pre>
   </div>
  </div>
 </body>
</html>
