<html>
 <head>
  <script>
   function toggleResult(event)
    {
        const parentNode = event.target.parentNode;
        let preTag = parentNode.getElementsByTagName("pre")[0];

        if (preTag.style.display == "none") {
            preTag.style.display = "block";
        } else {
            preTag.style.display = "none";
        }
    }
  </script>
 </head>
 <body>
  <div>
   <div class="main file" style="border:1px solid rgb(144, 13, 13);padding:0; margin: 10px; width:140ch;">
    <p class="file-name" style="margin:0; color:white;background-color: rgb(144, 13, 13);">
     main.cpp
    </p>
    <pre style="margin:0;"><code>#include &lt;iostream&gt;
#include &lt;initializer_list&gt;


template &lt;typename T&gt;
void func(T);


template &lt;&gt;
void func&lt;int&gt;(int)
{
    std::cout &lt;&lt; "int version\n";
}

template &lt;&gt;
void func&lt;char&gt;(char)
{
    std::cout &lt;&lt; "char version\n";
}

template &lt;&gt;
void func&lt;std::initializer_list&lt;int&gt;&gt;(std::initializer_list&lt;int&gt;)
{
    std::cout &lt;&lt; "initializer_list&lt;int&gt; version\n";
}

int main()
{
    auto var1 = {};
    auto var2 {};

    return 0;
}</code></pre>
   </div>
   <a class="online-compiler-link" href="https://godbolt.org/z/Y9nqn19Y8">
    online-compiler-link
   </a>
   <div class="result-value">
    <div class="result-title" onclick="toggleResult(event)" style="color:white;background-color: rgb(42, 41, 41);width: 100ch;">
     Result:
    </div>
    <pre style="display: none">error: unable to deduce 'std::initializer_list&lt;auto&gt;' from '&lt;brace-enclosed initializer list&gt;()'
   29 |     auto var1 = {};
      |                  ^
&lt;source&gt;:29:18: note:   couldn't deduce template parameter 'auto'
&lt;source&gt;:30:16: error: direct-list-initialization of 'auto' requires exactly one element [-fpermissive]
   30 |     auto var2 {};
</pre>
   </div>
  </div>
 </body>
</html>
