<html>
 <head>
  <script>
   function toggleResult(event)
    {
        const parentNode = event.target.parentNode;
        let preTag = parentNode.getElementsByTagName("pre")[0];

        if (preTag.style.display == "none") {
            preTag.style.display = "block";
        } else {
            preTag.style.display = "none";
        }
    }
  </script>
 </head>
 <body>
  <div>
   <div class="main file" style="border:1px solid rgb(144, 13, 13);padding:0; margin: 10px; width:140ch;">
    <p class="file-name" style="margin:0; color:white;background-color: rgb(144, 13, 13);">
     main.cpp
    </p>
    <pre style="margin:0;"><code>#include &lt;iostream&gt;
#include &lt;array&gt;


void f1(int, double) {}

template &lt;typename T&gt;
void func_by_value(T t);

template &lt;typename T&gt;
void func_by_ref(T&amp;);


template &lt;&gt;
void func_by_value&lt;void(*)(int, double)&gt;(void(*)(int, double))
{
    std::cout &lt;&lt; "By value\n";
}

template &lt;&gt;
void func_by_ref&lt;void(int, double)&gt;(void(&amp;)(int, double))
{
    std::cout &lt;&lt; "By reference\n";
}

int main()
{
    func_by_value(f1);
    func_by_ref(f1);

    return 0;
}</code></pre>
   </div>
   <a class="online-compiler-link" href="https://godbolt.org/z/TacWKTdTx">
    online-compiler-link
   </a>
   <div class="result-value">
    <div class="result-title" onclick="toggleResult(event)" style="color:white;background-color: rgb(42, 41, 41);width: 100ch;">
     Result:
    </div>
    <pre style="display: none">By value
By reference
</pre>
   </div>
  </div>
 </body>
</html>
