<html>
 <head>
  <script>
   function toggleResult(event)
    {
        const parentNode = event.target.parentNode;
        let preTag = parentNode.getElementsByTagName("pre")[0];

        if (preTag.style.display == "none") {
            preTag.style.display = "block";
        } else {
            preTag.style.display = "none";
        }
    }
  </script>
 </head>
 <body>
  <div>
   <div class="main file" style="border:1px solid rgb(144, 13, 13);padding:0; margin: 10px; width:140ch;">
    <p class="file-name" style="margin:0; color:white;background-color: rgb(144, 13, 13);">
     main.cpp
    </p>
    <pre style="margin:0;"><code>#include &lt;iostream&gt;


template &lt;typename T&gt;
void func(T* t);

template &lt;&gt;
void func&lt;int&gt;(int*)
{
    std::cout &lt;&lt; "T is int\n";
}

template &lt;&gt;
void func&lt;int&gt;(int* const)
{
    std::cout &lt;&lt; "T is int, but ptr is int* const\n";
}

int main()
{
    int a;
    int* ptr1 = &amp;a;
    int* const ptr2 = &amp;a;
    const int* const ptr3 = &amp;a;

    func(&amp;a);
    func(ptr1);
    func(ptr2);
    func(ptr3);

    return 0;
}</code></pre>
   </div>
   <a class="online-compiler-link" href="https://godbolt.org/z/Tcf8cbqqa">
    online-compiler-link
   </a>
   <div class="result-value">
    <div class="result-title" onclick="toggleResult(event)" style="color:white;background-color: rgb(42, 41, 41);width: 100ch;">
     Result:
    </div>
    <pre style="display: none">error: redefinition of 'void func(T*) [with T = int]'
   14 | void func&lt;int&gt;(int* const)
      |      ^~~~~~~~~
&lt;source&gt;:8:6: note: 'void func(T*) [with T = int]' previously declared here
    8 | void func&lt;int&gt;(int*)
</pre>
   </div>
  </div>
 </body>
</html>
