<html>
 <head>
  <script>
   function toggleResult(event)
    {
        const parentNode = event.target.parentNode;
        let preTag = parentNode.getElementsByTagName("pre")[0];

        if (preTag.style.display == "none") {
            preTag.style.display = "block";
        } else {
            preTag.style.display = "none";
        }
    }
  </script>
 </head>
 <body>
  <div>
   <div class="main file" style="border:1px solid rgb(144, 13, 13);padding:0; margin: 10px; width:140ch;">
    <p class="file-name" style="margin:0; color:white;background-color: rgb(144, 13, 13);">
     main.cpp
    </p>
    <pre style="margin:0;"><code>#include &lt;iostream&gt;
#include &lt;type_traits&gt;
#include &lt;utility&gt;


template &lt;typename T&gt;
void func(T&amp;&amp; t);

template &lt;&gt;
void func&lt;int&amp;&gt;(int&amp; t)
{
    std::cout &lt;&lt; "T is a lvalue reference\n";
}

template &lt;&gt;
void func&lt;int&gt;(int&amp;&amp; t)
{
    std::cout &lt;&lt; "T is a rvalue reference\n";
}

int main()
{
    int a;
    int&amp; ref_a = a;
    int&amp; const_ref_a = a;
    int&amp;&amp; r_ref = 10;

    func(a);
    func(ref_a);
    func(const_ref_a);
    func(r_ref);
    func(10);
    func(std::move(a));

    return 0;
}</code></pre>
   </div>
   <a class="online-compiler-link" href="https://godbolt.org/z/8T5T7odMe">
    online-compiler-link
   </a>
   <div class="result-value">
    <div class="result-title" onclick="toggleResult(event)" style="color:white;background-color: rgb(42, 41, 41);width: 100ch;">
     Result:
    </div>
    <pre style="display: none">T is a lvalue reference
T is a lvalue reference
T is a lvalue reference
T is a lvalue reference
T is a rvalue reference
T is a rvalue reference
</pre>
   </div>
  </div>
 </body>
</html>
